@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default
}

.fira-code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
}

body {
  font-family: "Fira Code", monospace;
}


.active {
  color: #f97316;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
